---
layout: home
title: NikGapps - Custom Google Apps Package!
---

<section class="home__hero">
    <div class="home__hero__inner container">
        <div class="home__hero__content">
            <div class="home__hero__art">
                <img src="./images/nikgapps-logo.webp" alt="NikGapps Logo">
            </div>
            <p class="intro">
                A Custom Google Apps Package that Suits Everyone Needs! <br>
                Supports Android 14(U), 13 (T) with regular updates and Android 12L (SL), 12 (S), 11 (R), 10 (Q) on need basis 
            </p>
            <div class="links">
                <a href="/downloads#downloads" class="home__hero__download"><i class="fa fa-download"></i>
                    Download</a>
                <a href="https://t.me/NikGapps" class="home__hero__telegram">
                    <i class="fa fa-telegram"></i> Telegram</a>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="f__inner container">
        <div class="section__heading">
            <h3>Why NikGapps?</h3>
        </div>

        <div class="features__grid">
            {% include card.html
                icon_class="fa-cubes"
                title="Customizable Installation"
                content="Have full control over what you install. Only install the package you want to!"
            %}

            {% include card.html
                icon_class="fa-android"
                title="Wide Support"
                content="From core to full package, NikGapps offers a wide range of packages to suit your needs."
            %}

            {% include card.html
                icon_class="fa-clock-o"
                title="Regular Updates"
                content="Updates are usually weekly, any longer than that means something really interesting is cooking."
            %}

            {% include card.html
                icon_class="fa-puzzle-piece"
                title="Addons Support"
                content="NikGapps comes with freeware Addons that are widely used alongside gapps."
            %}

            {% include card.html
                icon_class="fa-refresh"
                title="Seamless OTA Updates"
                content="NikGapps comes with full addon.d support to provide you flash and forget experience."
            %}

            {% include card.html
                icon_class="fa-smile-o"
                title="Happy Community"
                content="NikGapps has a friendly community that helps you get what you're looking for in NikGapps."
            %}
        </div>
    </div>
</section>

<section class="thanks">
    <div class="thanks__inner container">
        <div class="section__heading">
            <span>Credits</span>
            <h3>Super Thanks</h3>
        </div>

        <div class="credits__row">
            <div class="credits__art">
                <img src="./images/thanks.svg" alt="">
            </div>

            <div class="credits__content">
                <ul>
                    <li><a href="https://forum.xda-developers.com/member.php?u=4544860">osm0sis</a> (for the shell
                        scripting template)</li>
                    <li><a href="https://opengapps.org/">OpenGapps</a> Team (for base package and providing Open Gapps)
                    </li>
                    <li><a href="#">@DrAMoled</a> (for logo and his suggestions and help)</li>
                    <li><a href="#">Aman</a> (for helping me setup NikGapps Channel and Support Group)</li>
                    <li><a href="https://thevipinmishra.github.io/"> Vipin Mishra</a> for coding this website from
                        scratch.</li>
                    <li><a href="https://github.com/Kingsman44/Pixelify"> Shivan Singh</a> for Pixelify Module</li>
                    <li><a href="https://vanced.app/">Vanced Team</a> (for YouTube Vanced)</li>
                    <li><a href="https://twitter.com/lawnchairapp">Lawnchair Team</a> (for Lawnchair)</li>
		    <li><a href="https://github.com/ElytrA8">Sheikh Adnan</a> (for his help with NikGapps release automation)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
