---
layout: page
permalink: /team
headline: 'The #NikGapps Team'
title: 'Team - NikGapps'
bClass: teampage
---

<section class="team__members">

    {% include membercard.html 
        image_name="NikAvatar.jpg" 
        name="Nikhil Menghani" 
        position="NIKGAPPS FOUNDER & MAINTAINER"
        intro="I am an Android Anthusiast, a software developer by profession. I spend my time creating Softwares that
        saves my time." 
        facebook="https://www.facebook.com/nikhilmenghani" 
        telegram="http://t.me/inikhilmenghani" 
    %}

    {% include membercard.html
        image_name="male.svg"
        name="Vipin Mishra"
        position="WEB DEVELOPER"
        intro="I spend my time creating good looking websites on the Internet & try to share what I learn by making videos
        on the Youtube Channel"
        portfolio="https://thevipinmishra.github.io/"
        telegram="http://t.me/thevipinmishra"
    %}

    {% include membercard.html
        image_name="Arya.png"
        name="DrAMoled"
        position="Project Analyst"
        intro="I'm an Android enthusiast too, more than Nik obviously by tremendous amount. Have some little knowledge about Android if that counts. I criticize Nik work because i got no better things to do. Also i love graphic design and cats"
        telegram="http://t.me/DrAMoled"
        email="mailTo:dramoled@gmail.com"
    %}

</section>