{% for questionChild in include.nav %}
<div class="accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {{ questionChild.title }}
  </div>
  <div class="content">
    <ul>
      {% for contentChild in questionChild.content %}

      {% for child in contentChild %}
      {% assign tag = child[0] %}
      {% endfor %}

      {% if tag == "ans" %}
      <li>{{ contentChild.ans }}</li>
      {% elsif tag == "p" %}
      <p>{{ contentChild.p }}</p>
      {% elsif tag == "question" %}
      {% include faq.html nav=contentChild.question %}
      {% endif %}

      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}