<div class="vm__footer">
    <div class="vmf__inner container">

        <div class="footer__branding">
            <img src="{{ "/images/nikgapps-logo.webp" | relative_url }}" alt="NikGApps">
        </div>
        <div class="footer__links">
            <ul>
                <li><a href="https://forum.xda-developers.com/android/software/arm64-nikgapps-t3915866">XDA Thread</a></li>
                <li><a href="https://t.me/NikGapps">Join Telegram Channel</a></li>
                <li><a href="https://t.me/NikGappsGroup">Get Help</a></li>
                <li><a href="https://t.me/inikhilmenghani">Contact Developer</a></li>
            </ul>
        </div>

        <div class="feature__request">
            <h3>You think an awesome feature is missing?</h3>
            <a href="https://t.me/NikGappsGroup" class="raf">Request a Feature!</a>
        </div>
    </div>
    <footer>
        <div class="copyright">
            © NikGApps - 2020
        </div>
    </footer>
</div>