.announcements__wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 90vh;
}

.annoucements__art {
  display: block;
  max-width: 300px;
  margin: 0 auto 1.5rem;
}

.announcement__item + .announcement__item {
  margin-top: 1.5rem;
}

.announcement__item {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #e1e8ef;

  .date {
    font-weight: 600;
    font-size: 1.35rem;
    color: #718096;
    margin-bottom: 1.35rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  > * + * {
    margin-top: 1rem;
  }

  ul {
    list-style: disc;
    list-style-position: inside;
    max-width: 600px;
    padding-left: 1.5rem;
  }

  ol {
    padding-left: 1.5rem;
    list-style-position: inside;
    max-width: 600px;
  }

  li {
    padding: 2px;
  }
}
