.page__header {
  padding: 3rem 0;
  text-align: center;
  background-color: #2c3e50;
}

.page__title {
  font-size: 1.75rem;
  color: #fff;
  font-weight: 600;
}

.section__heading {
  display: block;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #4a5568;
  font-size: 18px;

  span {
    display: inline-block;
    padding: 6px 1rem;
    position: relative;
    bottom: -2px;
    border-bottom: 2px solid #2c3e50;
  }
}
