// Packages

.packages {
  padding: 4rem 0;
  position: relative;
}

.plist__wrap,
.addons__wrap {
  padding: 1.5rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  border: 3px solid #e2e8f0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.plist__wrap {
  margin-bottom: 1.5rem;
}

.packages__list {
  margin-bottom: 1.5rem;
}

.addon__item,
.package__item {
  padding: 0.85rem;

  .negative {
    color: #fc8181;
  }

  .positive {
    color: #2c662d;
  }

  h4 {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  li {
    color: #718096;
    padding: 2px;
    list-style: inside disc;
  }

  p {
    font-size: 15px;
    color: #718096;
    text-transform: capitalize;
  }
}

.package__icon {
  text-align: center;
  color: #4a5568;
}

.package__heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4a5568;
}

.download__packages {
  display: block;
  margin: 1.5rem auto 0;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  padding: 10px 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &:focus,
  &:hover {
    background-color: #34495e;
  }
}

.changelogs__info {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #718096;
  margin-top: 10px;
}

// Changelogs

.changelogs {
  padding: 4rem 0;
}

.changelogs__title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.latest__changelogs {
  margin-bottom: 1.5rem;
}

.lc__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.lc__list {
  background-color: #2c3e50;
  font-family: monospace;
  padding: 1rem;
  border-radius: 4px;
  color: #fff;

  li {
    padding: 5px;
  }

  li,
  li.white,
  li.green {
    &::before {
      content: "\f00c";
      font-family: fontawesome;
      margin-right: 0.75rem;
    }
  }

  li.green {
    &::before {
      color: #2ecc71;
    }
  }

  li.red {
    &::before {
      content: "\f00d";
      color: #e74c3c;
    }
  }

  li + li {
    border-top: 1px solid #384f66;
  }
}

.older__clogs {
  padding: 1.5rem 0;
}

.changelogs__ul {
  margin-top: 1rem;
  font-size: 15px;
  list-style: square;
  list-style-position: inside;

  li {
    padding: 3px;
  }
}

.changelogs__page__link {
  display: inline-block;
  padding: 8px 1rem;
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

.older__changelogs {
  min-height: 70vh;
  margin: 2rem auto;
}

.olderclogs__inner {
  padding: 1.5rem !important;
  background-color: #edf2f7;
}
