// FAQs

.faqs__container {
  padding: 3rem 0;
}

.faq__item + .faq__item {
  margin-top: 1rem;
}

.faq__item {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15),
    0 0 0 1px rgba(34, 36, 38, 0.15);
  border-radius: 3px;

  > * + * {
    margin-top: 1rem;
  }

  h4 {
    font-weight: 600;
    font-size: 1.35rem;
    margin-bottom: 5px;
    line-height: 1.35;
  }

  p {
    line-height: 1.65;
    color: #718096;
    font-size: 15px;
  }

  code {
    font-size: 0.9rem;
    background-color: #edf2f7;
  }

  ul {
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
  }

  li {
    padding: 6px 0;
    // &::before {
    //   content: "\f105";
    //   font-family: fontawesome;
    //   margin-right: 5px;
    // }
  }
}
