<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- <title>{{ page.title }}</title> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% seo %}
</head>

<body>
  {% include header.html %}

  <main>
    {{ content}}
  </main>
  {% include footer.html %}
  <script src="{{ "/assets/js/app.js" | relative_url }}"></script>
</body>

</html>