<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- <title>{{ page.title }}</title> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
</head>

<body class="page blog-post">
    {% include header.html %}
    <div class="page__header">
        <div class="container">
            <!-- {% if page.tags.size >= 1 %}
            <div class="post-tag">
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %} -->
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    <i class="fa fa-calendar"></i> {{ page.date | date: date_format }}
                </time>
                {%- if page.modified_date -%}
                ~
                {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
                    {{ mdate | date: date_format }}
                </time>
                {%- endif -%}
                {%- if page.author -%}
                • {% for author in page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
                {%- endif -%}</p>
        </div>
    </div>

    <div class="my__wrap">
        <main>
            <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

                <div class="post-content e-content" itemprop="articleBody">
                    {{ content }}
                </div>

                <div class="post__share">
                    <!-- Sharing Buttons Here -->
                </div>
                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </article>
        </main>
    </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js"></script>
    <script src="{{ "/assets/js/app.js" | relative_url }}"></script>
</body>

</html>
